<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab_detail" aria-expanded="false">詳細</a></li>
    <li class=""><a data-toggle="tab" href="#tab_history" aria-expanded="true">変更履歴 (0)</a></li>
    <li class=""><a data-toggle="tab" href="#tab_comment" aria-expanded="true">コメント (0)</a></li>
  </ul>
  <div class="tab-content">
    <div id="tab_detail" class="tab-pane active">
      <div class="box box-solid">
        <div class="box-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">作成日</label>
              <div class="col-sm-9">
                <label class="control-label font-normal">
                <label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">更新日</label>
              <div class="col-sm-9">
                <label class="control-label font-normal">
                <label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">作成者</label>
              <div class="col-sm-9">
                <label class="control-label font-normal">
                <label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">更新者</label>
              <div class="col-sm-9">
                <label class="control-label font-normal">
                <label>
              </div>
            </div>
          </div>
        </div><!-- /.box-body -->
      </div>
    </div>

    <div id="tab_history" class="tab-pane">
      <p>Not Implemented Yet</p>
    </div><!-- /history-->

    <div id="tab_comment" class="tab-pane">
      <p>Not Implemented Yet</p>
    </div><!-- /history-->
  </div><!-- /.tab-content -->
</div>
