<div class="box box-success">
  <div class="overlay hide" id="translation-table-loading">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <div class="box-header inner-gray">
    <h3 class="box-title">I18n テーブル</h3>
  </div><!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped table-hover selectable-table" id="translation-listing">
      <thead>
        <tr>
          <th style="width: 20px"></th>
          <th style="width: 20px">#</th>
          <th style="width: 70px">状況</th>
          <th>変数名</th>
          <th>日本語</th>
          <th>英語</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div><!-- /.box-body -->
</div>

