<div id="trans-left" class="frame-element inner-gray">
  <div class="trans-left-control-top">
    <div class="control-panel">
      <%= render 'control_panel' %>
    </div>
  </div>
  <div class="trans-left-main">
    <%= render 'i18n_tables' %>

    <!-- 下までうまく表示されない問題をどうやって解決するのか不明なので、 -->
    <!-- とりあえずdummyのspacerを入れてごまかす -->
    <div class="dummy-trans-left-main-spacer"></div>
  </div>
</div>

<div id="trans-right" class="frame-element">

  <div class="trans-inner-top">
    <div id="translation-form">
    <%= render 'edit_form' %>
    </div>
  </div>

  <div class="trans-inner-bottom">
    <div id="translation-detail">
    <%= render 'detail_form' %>
    </div>
  </div>
</div>
