<footer class="main-footer">
  <div class="container-fluid">
    <div class="pull-right hidden-xs">
    </div>
    <strong>Copyright &copy; 2015 </strong>. All rights reserved.
  </div><!-- /.container -->
</footer>
