<footer class="main-footer">
  <div class="container-fluid">
    <div class="pull-right hidden-xs">
      <b>I18n Quality Management System</b> Ver. 2015-05-23
    </div>
    <strong>Copyright &copy; 2015 <a href="#">Trans1</a></strong>. All rights reserved.
  </div><!-- /.container -->
</footer>
