<td>
  <input type="checkbox" name="[select-checkbox]" class="item-selected" value="true">
</td>
<td>
  {{#if translated}}
  <span class="label label-success">翻訳済</span>
  {{else}}
  <span class="label label-danger">未翻訳</span>
  {{/if}}
</td>
<td>
  {{variableName}}
</td>
<td>
  {{ja}}
</td>
<td>
  {{en}}
</td>
