$header-height: 50px;
$footer-height: 50px;

/* 画面全体 Frame関連 */

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding-top: $header-height;
  padding-bottom: $footer-height;
}

body, .frame-element {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

#trans-header {
  height: $header-height;
  margin-top: -$header-height;
}

#trans-footer {
  background-color: #ccc;
  bottom: 0;
  height: $footer-height;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#trans-left {
  float: left;
  width: 60%;
  padding-right: 1px;
  border-right: 1px solid #ccc;
  overflow: hidden;
}

#trans-right {
}

$trans-control-panel-height: 150px;

.trans-left-control-top {
  height: $trans-control-panel-height;
  overflow-y: hidden;
  overflow-x: hidden;
  border-bottom: 1px solid #ccc;
}

.trans-left-main {
  bottom: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dummy-trans-left-main-spacer {
  height: $trans-control-panel-height;
}

.trans-inner-top {
  height: 55%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #ccc;
}

.trans-inner-bottom {
  bottom: 0;
  height: 45%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.inner-gray {
  background-color: #ecf0f5 !important;
}

.dummy-space {
  height: 10000px;
}

.fa-rspace {
  padding-right: 3px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.font-normal {
  font-weight: normal;
}

/* translation table */

.selectable-table {
  .selected {
    background-color: #b6d5ff !important;
  }

  .not-saved {
    background-color: #f39c12 !important;
    color: #2c3e50;
  }
}
