/* w2ui */

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node {
  padding: 0 0 0 0;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node-caption {
  white-space: nowrap;
  padding: 5px 0px 5px 3px;
  margin: 1px 0px 1px 22px;
  position: relative;
  z-index: 1;
  font-size: 10px;
}

